.masthead {
  height: 90vh;
  min-height: 500px;
  background-image: url('assets/cp2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.img-max {
  max-width: 500px;
  width:100%;
}

a {
  text-decoration: none;
}

nav a {
  white-space: nowrap;
}

.main-img {
  border: 5px solid grey;
  border-radius: 50%;
}

.school-img {
  border: 5px solid grey;
  border-radius: 5%;
}

.green {
  color: #154734;
  border-color: #3f7529;
}

.gold {
  color: #b88813;
  border-color: #b7a57a;
}

.bg-beige {
  background-color: #f2efe0;
}

h3 {
  font-size: 20px;
  padding-top: 4px;
}

#skills h3, #contact-me h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  padding-top: 8px;
}

#skills li {
  padding: 3px;
}

#skills ul {
  padding-bottom: 20px;
}


#skills li:hover {
  background-color: #f5f5f5;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
}

.stars {
  position: absolute;
  right: 10px;
}

.stars img {
  height: 18px;
  width: auto;
}

.social-media {
  width: 30px;
}

.contact-img {
  width: 35px;
}

.social-media, .contact-img {
  border-radius: 15%;
  height: auto;
}

.social-media:hover, .contact:hover {
  filter: brightness(90%);
}

.card-img-top {
  height: 250px;
  width: 100%;
  display: block;
}

.card-img-top:hover {
  opacity: 0.7;
}

.centered {
  display: table;
  margin: 0 auto;
}

.job-img {
  max-width: 200px; 
  max-height: 200px; 
  border-radius: 5%;
}

@media (max-width: 991.98px) {
  .top-buffer {
    margin-top: 50px;
  }
}
